.App {
  
}

@media (min-width: 768px){
    .Wrap{
    flex-direction: column;
    }
}

li{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.Wrap{
    display: flex;
    flex-direction: row;
}

